@using System.Drawing
@using System.Drawing.Drawing2D
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model FotografKullaniciViewModel
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="container-fluid">


    <div class="row">

       <div class="col-md-4">
            @{
                var base641 = Convert.ToBase64String(Model.secilenFotograf.yuklenenFotograf);
                var imgsrc1 = string.Format("data:image/gif;base64,{0}", base641);
            }

            <img src="@imgsrc1"  class="img-thumbnail">

       </div>
        <div class="col-md-8" style="background-color:#e3e3e3;text-align: center;height: fit-content;">
            <div class="row" style="margin:10px">
                <h5 class="card-title lead">@Model.secilenFotograf.FotografAciklamasi</h5>

            </div>
            <div class="row" style="margin:10px">
                @{
                    var kategori = Model.Kategoriler.ToList().Where(k => k.KategoriId == Model.secilenFotograf.KategoriID).FirstOrDefault();
                }
                <a asp-controller="Home" asp-action="Kategori" asp-route-id="@kategori.KategoriId" id="goSwhButton" bc-button="true">@kategori.KategoriIsmi</a>

            </div>
            <div class="row" style="margin:10px">
                @{
                    var kullanici = Model.Kullanicilar.ToList().Where(k => k.Id == Model.secilenFotograf.KullaniciID).FirstOrDefault();
                }
                <a asp-controller="Home" asp-action="Kullanici" asp-route-id="@kullanici.Id" id="goSwhButton" bc-button="true">@kullanici.Email</a>

            </div>
            <div class="row">
                @*<button class="btn" id="green"><i class="fa fa-thumbs-up fa-lg" onclick="like()" aria-hidden="true"></i></button>
                <button class="btn" id="red"><i class="fa fa-thumbs-down fa-lg" onclick="like()"  aria-hidden="true"></i></button>
*@
                

            </div>
        </div>

    </div>



    
    <p style="margin:10px;font-family: 'Orienta',sans-serif;text-align:center;">Diğer Kullanıcıların Fotoğrafları</p>
    @{
        string ResizeImage(byte[] data)
        {
            using (var ms = new MemoryStream(data))
            {
                var image = Image.FromStream(ms);

                var ratioX = (double)100 / image.Width;
                var ratioY = (double)50 / image.Height;

                var ratio = Math.Min(ratioX, ratioY);

                //var width = (int)(image.Width * ratio);
                //var height = (int)(image.Height * ratio);

                var width = 250;
                var height = 400;

                var newImage = new Bitmap(width, height);

                Graphics.FromImage(newImage).DrawImage(image, 0, 0, width, height);

                Bitmap bmp = new Bitmap(newImage);

                ImageConverter converter = new ImageConverter();

                data = (byte[])converter.ConvertTo(bmp, typeof(byte[]));

                return "data:image/gif;base64," + Convert.ToBase64String(data);
            }
        }
    }
    <div class="row" style="margin:10px">
        @{
            Random r = new Random();
            int count = Model.TumFotograflar.Count();
            int random1 = r.Next(count);
            int random2 = r.Next(count);
            int random3 = r.Next(count);
        }
        <center>
            <div class="slider">

                <div class="imgs_slides">
                    <input type="radio" name="radio-btn" id="radio1" />

                    <input type="radio" name="radio-btn" id="radio2" />

                    <input type="radio" name="radio-btn" id="radio3" />
                    <div class="first slide" id="slaytYazilari">
                        @{

                            var base64 = Convert.ToBase64String(Model.TumFotograflar[random1].yuklenenFotograf);
                            var imgsrc = string.Format("data:image/gif;base64,{0}", base64);
                            var src = ResizeImage(Model.TumFotograflar[random1].yuklenenFotograf);
                        }

                        <a asp-controller="Home" asp-action="Fotograf" asp-route-id="@Model.TumFotograflar[random1].FotografId" id="goSwhButton" bc-button="true">
                            <img src="@src" class="hover img-fluid" title="@Model.TumFotograflar[random1].FotografAciklamasi">

                        </a>

                    </div>

                    <div class="slide" id="slaytYazilari">
                        <a asp-controller="Home" asp-action="Fotograf" asp-route-id="@Model.TumFotograflar[random2].FotografId" id="goSwhButton" bc-button="true">
                            @{

                                var base640 = Convert.ToBase64String(Model.TumFotograflar[random2].yuklenenFotograf);
                                var imgsrc0 = string.Format("data:image/gif;base64,{0}", base640);
                                var src1 = ResizeImage(Model.TumFotograflar[random2].yuklenenFotograf);
                            }
                            <img src="@src1" class="hover img-fluid" title="@Model.TumFotograflar[random1].FotografAciklamasi">
                        </a>

                    </div>
                    <div class="slide " id="slaytYazilari">
                        <a asp-controller="Home" asp-action="Fotograf" asp-route-id="@Model.TumFotograflar[random3].FotografId" id="goSwhButton" bc-button="true">
                            @{

                                var base642 = Convert.ToBase64String(Model.TumFotograflar[random3].yuklenenFotograf);
                                var imgsrc2 = string.Format("data:image/gif;base64,{0}", base642);
                                var src2 = ResizeImage(Model.TumFotograflar[random3].yuklenenFotograf);
                            }
                            <img src="@src2" class="hover img-fluid" title="@Model.TumFotograflar[random1].FotografAciklamasi">
                        </a>
                    </div>
                </div>
                <div class="navigation">
                    <label for="radio1" class="navigation-btn">
                    </label>
                    <label for="radio2" class="navigation-btn">
                    </label>
                    <label for="radio3" class="navigation-btn">
                    </label>

                </div>
            </div>
        </center>

    </div>



</div>

@await Html.PartialAsync("_Pagination",10)
