@using Microsoft.Extensions.Options
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Builder
@inject LanguageService language

@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">
@inject LanguageService language


<div class="container-fluid">
    <div class="row">

        <center>
            <div class="slider" id="slideraw">

                <div class="imgs_slides  ">
                    <input type="radio" name="radio-btn" id="radio1" />

                    <input type="radio" name="radio-btn" id="radio2" />

                    <input type="radio" name="radio-btn" id="radio3" />
                    <div class="first slide" id="slaytYazilari">

                            <img src="images/6.jpg" class="hover img-fluid" id="dalaman" >


                    </div>

                    <div class="slide" id="slaytYazilari" >
                        

                            <img src="images/7.jpg" class="hover img-fluid" >
                       

                    </div>
                    <div class="slide " id="slaytYazilari" >
                       
                            <img src="images/8.jpg" class="hover img-fluid" >
                       
                    </div>
                </div>
                <div class="navigation">
                    <label for="radio1" class="navigation-btn">
                    </label>
                    <label for="radio2" class="navigation-btn">
                    </label>
                    <label for="radio3" class="navigation-btn">
                    </label>

                </div>
            </div>
        </center>

    </div>
   
 

    <div class="card-deck" style="margin-top:30px;margin-bottom:50px">
        <div class="card">
            <img class="card-img-top" src="~/images/22.jpg" width="350px" height="300px" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">@language.Getkey("scenery")</h5>
                <a asp-controller="Home" asp-action="Kategori" asp-route-id="3" id="goSwhButton" bc-button="true">@language.Getkey("more")</a>

            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="~/images/11.jpg" width="350px" height="300px" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">@language.Getkey("autmn")</h5>
                <a asp-controller="Home" asp-action="Kategori" asp-route-id="1" id="goSwhButton" bc-button="true">@language.Getkey("more")</a>

            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="~/images/12.jpg" width="350px" height="300px"  alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">@language.Getkey("books")</h5>
                <a asp-controller="Home" asp-action="Kategori" asp-route-id="2" id="goSwhButton" bc-button="true">@language.Getkey("more")</a>

            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="~/images/23.jpg" width="350px" height="300px" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">@language.Getkey("movieShow")</h5>
                <a asp-controller="Home" asp-action="Kategori" asp-route-id="6" id="goSwhButton" bc-button="true">@language.Getkey("more")</a>

            </div>
        </div>
    </div>
    <div class="card-deck" style="margin-top:30px;margin-bottom:50px">
        
        <div class="card">
            <img class="card-img-top" src="~/images/15.jpg" width="350px" height="300px" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">@language.Getkey("city")</h5>
                <a asp-controller="Home" asp-action="Kategori" asp-route-id="4" id="goSwhButton" bc-button="true">@language.Getkey("more")</a>

            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="~/images/17.jpg" width="350px" height="300px" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">@language.Getkey("canvas")</h5>
                <a asp-controller="Home" asp-action="Kategori" asp-route-id="5" id="goSwhButton" bc-button="true">@language.Getkey("more")</a>

            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="~/images/21.jpg" width="350px" height="300px" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">@language.Getkey("other")</h5>
                <a asp-controller="Home" asp-action="Kategori" asp-route-id="7" id="goSwhButton" bc-button="true">@language.Getkey("more")</a>

            </div>
        </div>
    </div>
  </div>








    