@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model FotografKullaniciViewModel

@inject LanguageService language

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">@language.Getkey("categoryName")</th>
            <th scope="col">@language.Getkey("numberOfPhotos")</th>
            
        </tr>
    </thead>
    <tbody>
        @{
            int r=1;
        }
        @foreach(var item in Model.Kategoriler)
        {
            <tr>
                <th scope="row">@r</th>
                <td>
                    <a asp-controller="Home" asp-action="Kategori" asp-route-id="@item.KategoriId" id="goSwhButton" bc-button="true">@language.Getkey(@item.KategoriIsmi)</a>
                </td>
                @{
                    var fotograflar = Model.Fotograflar.ToList().Where(f => f.KategoriID == item.KategoriId).ToList();
                }
                
                <td>@fotograflar.Count()</td>
            </tr>
            r++;
        }
       
    </tbody>
</table>

