@using System.Drawing
@using System.Drawing.Drawing2D
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model FotografKullaniciViewModel
@inject LanguageService language

<div class="container-fluid">




    <div class="row">
        <h1 style="margin:10px;font-family:'Lucida Handwriting','Courier New',monospace;">@Model.secilenKullanici.Email</h1>
    </div>

    <div class="row">
        <div class="col-md">
            <h3 style="margin:10px;font-family: 'Times New Roman',Times,serif;">@Model.secilenKullanici.KullaniciAd @Model.secilenKullanici.KullaniciSoyadi</h3>
      
        </div>
       
    </div>
    
  

    <div style="display: inline-block;width:100%">
        @for (int i = 0; i < Model.Fotograflar.Count(); i += 3)
        {
            <div class="row">
                @{
                    int j = 0;
                    for (; j <= 2 && i + j < Model.Fotograflar.Count(); j++)
                    {
                                        <div class="col-md-4">
                                            <div class="card">
                                                @{

                                                var base640 = Convert.ToBase64String(Model.Fotograflar[i + j].yuklenenFotograf);
                                                var imgsrc0 = string.Format("data:image/gif;base64,{0}", base640);
                                                }

                                                <img class="card-img-top" src="@imgsrc0" width="350px" height="300px" alt="Card image cap">
                                                <div class="card-body">
                                                    <h5 class="card-title">@Model.Fotograflar[i+j].FotografAciklamasi</h5>
                                                    <a asp-controller="Home" asp-action="Fotograf" asp-route-id="@Model.Fotograflar[i+j].FotografId" id="goSwhButton" bc-button="true">@language.Getkey("open")</a>

                                                </div>
                                            </div>
                                        </div>
                    }
                }
            </div>
        }
    </div>
    


</div>






@await Html.PartialAsync("_Pagination",10)



