@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Kullanici

@{
    ViewData["Title"] = "Admin";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";

}

<div class="container mt-5">
    <form method="post" asp-action="KullaniciUpdate" onload="showalert()" id="kullaniciDuzenleFormu">

        <div class="form-row">
            <div class="col">
                <input type="text" class="form-control" placeholder="@Model.KullaniciAd" id="ad" asp-for="@Model.KullaniciAd">
            </div>
            <div class="col">
                <input type="text" class="form-control" placeholder="@Model.KullaniciSoyadi" id="soyad" asp-for="@Model.KullaniciSoyadi">
            </div>
        </div>

        <div class="form-row" style="margin-top=10px">
            <div class="form-group col-md-6">
                <input type="text" class="form-control" placeholder="@Model.Email" id="kullaniciadi" asp-for="@Model.Email" required>
            </div>
        </div>
        @using(Html.BeginForm())
        {
            <input type="hidden" name="KullaniciID" value="@Model.Id" />
            <input type="submit" class="btn btn-primary" value="Güncelle" />
        }
    
    </form>
</div>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/jquery-ui.min.js"></script>
<script src="http://bainternet-js-cdn.googlecode.com/svn/trunk/js/jQuery%20BlockUI%20Plugin/2.39/jquery.blockUI.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js" ></script>
@section scripts
{
    <script>

          //jquery
        $("#kullaniciDuzenleFormu").ready( function () {
            $("#ad").val("@Model.KullaniciAd");
            $("#soyad").val("@Model.KullaniciSoyadi");
            $("#kullaniciadi").val("@Model.Email");
            $("#sifre").val("@Model.PasswordHash");
                    });

    </script>

}


